<%= render partial: "shared/gameheader" %>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-7"><h2 class="play-form">Edit the game played on <%= @play.date %></h2>
  </div>
</div>

<div class="form-horizontal">
  <%= render 'form' %>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-7">
    <%= link_to "Delete Game", game_play_path(@game, @play), method: :delete, class: "delete" %>
  </div>
</div>
