<%= render partial: "shared/gameheader" %>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-7"><h2 class="play-form">Create New Game Played</h2>
  </div>
</div>

<div class="form-horizontal">
  <%= render 'form' %>
</div>
