<h2>Edit Game Info</h2>

<h3>Game Title: Burgle Brothers</h3>

<div class="form-horizontal">
  <%= render 'form' %>
</div>


<%= link_to "Delete Game", game_path(@game), method: :delete, class: "delete" %>
