<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-7">
    <h2>Edit Game Info</h2>
  </div>
</div>

<div class="form-horizontal">
  <%= render 'form' %>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-7">
    <p><%= link_to "Delete Game", game_path(@game), method: :delete, class: "delete" %></p>
  </div>
</div>
