<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary" role="button">
      <%= link_to "Create New Game", new_game_path %>
    </button>
  </div>
</div>

<div class="row">
<% @games.each do |game| %>
  <div class="col-sm-12 game-tile">
    <%= link_to game.title, game_path(game) %>
  </div>
<% end %>
