<div class="show-page">

  <%= render partial: "shared/gameheader" %>

  <div class="plays-display">
    <h3>Games played by date:</h3>

    <% @plays.reverse.each do |play| %>
      <div class="play-tile">
        <h3><%= link_to play.date.strftime("%B %d, %Y"), game_play_path(@game.id, play) %></h3>
        <% if play.winner == "n" %>
          <%= image_tag "patrolman.jpg", class: "play-preview-image", alt: "patrolman card image" %>
        <% else %>
          <%= image_tag "winner-cup.png", class: "play-preview-image", alt: "winner image" %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
<%#= image_tag @game.logo, class: "game-logo", alt: @game.title %>
