<div class="show-page">

  <%= render partial: "shared/gameheader" %>

  <div class="characters-display">
    <h2>Characters</h2>
    <% @characters.each do |character| %>
      <div class="char-tile">
        <h3><%= character.name %></h3>
        <%= image_tag character.image, class: "char-image", alt: character.name %>
      </div>
    <% end %>

  </div>

</div>
