// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

// Great use of classes.
// Some wayward spacing to tighten up.
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #D5ACA9;
$secondary-color: #B38D97;
$button-background-color: #424B54;
$button-link-color: #C5BAAF;
$text-color: #222;
$yellow: #EBCFB2;
$grey: #9EA3B0;
$loot: #449EAB;
$events: #8A5F79;
$tools: #57A256;
$patrolman: rgb(189, 82, 62);
$dark-accent: #461F06;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
  box-sizing: border-box;
}

body {
  background: $button-background-color;
}

// forms
.devise-form, .game-form, .play-form {
  color: white;
    input {
      margin-bottom: 1%;
      color: $button-background-color;

    }
    a:hover {
      color: white;
    }
}

.control-label {
  color: white;
}

.delete {
  padding: 10px;
  background-color: $patrolman;
  @include border-radius(5px);
  text-decoration: none;
  color: white;
}

// home intro
.instructions {
  p {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 0 5%;
  }
}

// game styles
.game-logo {
  position: relative;
  width: 100%;
}

.game-info {
  p {
    display: inline-block;
    padding: 10px;
    background-color: $button-background-color;
    color: white;
  }
  p:hover {
    background-color: $loot;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .action-buttons {
    float: right;
      p:hover {
        background-color: $patrolman;
      }
  }
}

// flash messages
.notice, .alert {
  color: white;
}

// stars
.star-rating {
  padding-left: 20px;
  p {
    display: inline-block;
  }
}
.star {
  max-width: 20px;
}

img {
  width: 100%;
  max-height: 200px;
  margin: 0 auto;
  @include border-radius(10px);
}

// show styles
.show-header {
  background-image: image-url("burgle-bros-lineup.png");
  background-size: cover;
  padding-top: 2px;
  padding-left: 25px;
    h2 {
      padding-bottom: 200px;
      font-family: 'Arial Black', sans-serif;
    }
}

.gameplay-details {
    h3 {
      padding: 20px;
      background: rgba($button-background-color, 0.5);
      text-align: center;
      color: white;
      @include border-radius(5px);
    }
    p {
      font-weight: bold;
    }

}

.show-page {
  background-image: image-url("wet-snow.png");
  background-size: contain;
  margin-bottom: 35px;
}

.plays-display, .characters-display {
  padding: 5%;
}

ul.key {
  padding: 10px;
  li {
    display: inline-block;
  }
  p {
    padding-right: 10px;
  }
  img {
    max-width: 45px;
    padding: 1%;
  }
}


// buttons
button {
  position: relative;
  right: 0;
  margin-bottom: 10px;
    a {
    color: white;
    }
}

.play-buttons {
  p {
    display: inline-block;
    padding: 15px;
    background-color: $tools;
    color: white;
    @include border-radius(5px);
  }
  p:hover {
    background-color: $button-background-color;
  }
  a {
    text-decoration: none;
    color: white;
  }
}


// tiles
.game-tile {
  background-color: $loot;
}

.static-tile {
  background-color: darken($loot, 20%);
  h3 {
    color: darken(white, 5%);
  }
  img.coming-soon {
    background-color: darken(white, 40%);
    padding: 22px 0;
  }
}
.static-tile:hover {
  background-color: $loot;
  img.coming-soon {
    background-color: white;
  }
}
.play-tile {
  background-color: $patrolman;
}
.char-tile {
  background-color: $events;
}

.game-tile, .play-tile, .char-tile {
  display: inline-block;
  width: 30%;
  margin: 1%;
  padding: 2%;
  text-align: center;
  @include border-radius(10px);

  p {
    padding-left: 3%;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 5px;
  }

  a:hover {
    background-color: rgba($button-background-color, 0.3);
    @include border-radius(5px);
  }

}

.char-sm-tile, .tool-tile, .loot-tile, .event-tile, .result-tile {
  display: inline-block;
  width: 18%;
  margin: 1% auto;
  padding: 2%;
  text-align: center;
  color: white;
  @include border-radius(10px);

  a {
    text-decoration: none;
    color: $events;
  }

}

.player-tile {
  background-color: $events;
  color: white;
    a {
      background-color: $button-background-color;
      padding: 5px;
      @include border-radius(5px);
      margin-bottom: 1px;
      color: white;
    }
    a:hover {
      color: $loot;
    }
}

.tool-tile {
  background-color: $tools;
}
.loot-tile {
  background-color: $loot;
}
.event-tile {
  background-color: $events;
}
.result-tile {
  background-color: $patrolman;
}
